* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #34fcf5;

}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
    color: #ff48c4;

}

#centerContent {
    position: relative;
    width: 65vw;
    display: block;
    margin: 0px auto;
    /*border: 2px solid;*/
}

.heading {
    font-family: 'Permanent Marker', cursive;
    font-size: 6vw;
    color: #ff48c4;
    display: block;
    margin: 0px auto 0px 7.3vw;
}

.textblock {
    font-family: 'Cabin', sans-serif;
    font-size: 1.07em;
    color: #000000;

}

ul {
    margin-left: 2%;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
    color: #000000;

}

#showNavBar {
    margin: 0.2%;
    position: fixed;
    top: 0;
    z-index: 10;

    padding: 10px;


    border: 2px solid #ff48c4;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 90%;
    color: black;
    background-color: transparent;
}

#navBar {
    z-index: 5;
    position: fixed;
    display: none;
    width: 14vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*border-right: 1px solid;*/
    background: linear-gradient(to right, rgba(192, 77, 249, 0.3), rgba(255, 0, 0, 0));
}

.post {
    margin-top: 1%;
    border: 2px solid #ff48c4;
    padding: 1%;

}

#navParent {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 2.2vw;

}

.navBarElement.link {
    padding: 10px;
    display: block;

    border: 2px solid #ff48c4;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
    color: black;

}

.mySlides {
    width: 40%;
    height: auto;
}

#slideShow img{
    position: relative;
    display: block;
    margin: 0px;
}

.update {


}